<!DOCTYPE html>
<ul>
  <% if @questions %>
    <% @questions.each do |question| %>
    <li><a href="/questions/<%= question.id %>"><%=question.title%>, <%= question.created_at %></a></li>
    <% end %>
  <% end %>
</ul>